body{
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
}
#header{
    margin-top: 2%;
    box-shadow: 5px 0px 80px gray;
    border-radius: 10px;
}
.flexible-container{
    display: flex;
    width: 90%;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 50px;
}
.header-panel{
   text-decoration: none;
   background-image: linear-gradient(tomato, orange);
   padding: 10px 30px;
   border-radius: 6px;
   color: white;
   font-weight: 700;
   margin-left: 20px;
   margin-top: 10px;
   box-shadow: 10px 20px 60px gray;
   border: 1px solid rgb(0, 204, 255);
}
.my_image{
    width: 40%;
    margin-left: 80px;
}
.top-banner{
    margin-left: 40px;
    margin-top: 10px;
}
.top-banner p{
    text-align: justify;
}
#welcome-color{
    color: rgb(181, 1, 226);
    font-style: italic;
}
#kingdom-color{
    color: rgb(0, 183, 255);
}
.hireme-button{
   text-decoration: none;
   background-image: linear-gradient(rgb(19, 200, 245), rgb(41, 41, 255));
   padding: 10px 30px;
   border-radius: 6px;
   color: white;
   font-weight: 700;
   margin-left: 300px;
   box-shadow: 10px 20px 40px gray;
}
.image-goal{
    margin-top: 250px;
}
.middle-section{
    margin-top: 250px;
    margin-left: 150px;
}
.middle-section h1{
    text-shadow: 10px 10px 30px gray;
}
.middle-section p{
    text-align: justify;
}
.hobby{
    margin-left: 40px;
    margin-top: 30px;
    text-shadow: 10px 10px 30px gray;
}
.hobby p{
    text-align: justify;
}
.hobby-image{
    margin-left: 20px;
    margin-top: 30px;
}
.experiance-item h1{
    margin-left: 40px;
    text-shadow: 10px 10px 30px gray;
}
.developer-item{
    margin-left: 80px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 5px;
}
.developer-item h3{
    color: blueviolet;
    font-size: 20px;
}
#android-app-developer{
    border-image: linear-gradient(orange, tomato);
    border-top: 5px solid;
    border-right: 2px dotted;
    border-image-slice: 1;
}
#web-developer{
    border-image: linear-gradient(orange, tomato);
    border-top: 5px solid;
    border-right: 2px dotted;
    border-image-slice: 1;
}
.footer{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.footer span{
    font-style: italic;
    font-size: 40px;
    color: tomato;
    text-shadow: 10px 10px 30px gray;
}

